/*
    name:移动端常用css文件
    note:所有长度单位均使用rem，绝对长度可使用px,rem=视觉稿实际宽度/100
    date:2017-2-9
    author:UI
*/
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
code,
em,
img,
q,
small,
strong,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
table,
tbody,
tr,
th,
td,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
a,
a:active,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}
a,
img {
  -webkit-touch-callout: none;
}
ol,
ul,
li {
  list-style: none;
}
textarea,
input[type="password"],
input[type="text"] {
  resize: none;
  outline: 0;
  -webkit-appearance: none;
  background: #fff;
}
body {
  width: 7.5rem;
  max-width: 1080px;
  margin: 0 auto;
  background: #f6f6f6;
  color: #333;
  font-family: 'Microsoft YaHei';
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 0.3rem;
}
.bhpop {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*
    name:字体图标库
    date:2017-2-14
    author:wumj
*/
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*
    name:顶部栏样式
    date:2017-2-13
    author:wumj
*/
.topbar {
  height: 0.88rem;
  background-color: #0f90ce;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
.topbar .topbar-title {
  display: inline-block;
  height: 100%;
  color: #fff;
  font-size: 0.36rem;
  line-height: 0.88rem;
}
.topbar .back-ico {
  position: absolute;
  top: 0;
  left: 0.14rem;
  font-size: 0.4rem;
  color: #fff;
  height: 0.88rem;
  line-height: 0.88rem;
}
.topbar .right-link {
  position: absolute;
  top: 0;
  right: 0.14rem;
  color: #fff;
  height: 0.88rem;
  line-height: 0.88rem;
}
.topbar .iconfont {
  padding-right: 0.04rem;
}
/*
    name:底部栏样式
    date:2017-2-13
    author:wumj
*/
.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 1rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e4e4e4;
}
.bottombar .barLi {
  height: 100%;
  float: left;
  box-sizing: border-box;
  width: 20%;
  cursor: pointer;
  text-align: center;
}
.bottombar .barLi p {
  font-size: 0.22rem;
  color: #666666;
}
.bottombar .barLi.current p,
.bottombar .barLi.current .iconfont,
.bottombar .barLi:hover p,
.bottombar .barLi:hover .iconfont {
  color: #0f90ce;
}
.bottombar .barLi:active {
  background-color: #e3e3e3;
}
.bottombar .iconfont {
  display: inline-block;
  margin-top: 0.1rem;
  font-size: 0.44rem;
  color: #9ba5ae;
  margin-bottom: 0.05rem;
}
/*
    name:中间内容
    date:2017-2-14
    author:wumj
*/
.content {
  margin-top: 0.88rem;
  margin-bottom: 1rem;
}
/*
    name:文本框
    date:2017-2-14
    author:wumj
*/
.txt,
.tarea {
  border-left: 1px solid #e4e4e4;
  padding-left: 0.16rem;
  padding-right: 0.08rem;
  color: #666666;
  outline: none;
  background-color: #fff;
  font-family: "Microsoft YaHei";
  box-sizing: border-box;
  font-size: 0.3rem;
}
.txt {
  height: 0.5rem;
  line-height: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.txt1 {
  width: 100%;
}
.txt-date {
  width: 100%;
  padding-right: 0.4rem;
}
.time-ico {
  position: absolute;
  top: 50%;
  right: 0.14rem;
  font-size: 0.38rem;
  margin-top: -0.24rem;
}
.tarea {
  border: 1px solid #e4e4e4;
  resize: none;
}
.tarea1 {
  width: 100%;
  height: 1.6rem;
}
/*
    name:按钮样式
    date:2017-2-16
    author:wumj
*/
.btn-wrap {
  padding: 0.14rem;
}
.btn-wrap .btn {
  margin-bottom: 0.14rem;
}
.btn {
  display: inline-block;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  box-sizing: border-box;
}
.btn1 {
  height: 0.8rem;
  line-height: 0.8rem;
  width: 100%;
  background-color: #0f90ce;
  border-color: #0f90ce;
  color: #fff;
}
.btn2 {
  height: 0.8rem;
  line-height: 0.8rem;
  width: 100%;
  background-color: #fff;
  border-color: #0f90ce;
  color: #0f90ce;
}
.btn3 {
  height: 0.8rem;
  line-height: 0.8rem;
  width: 49.3%;
  background-color: #fb792b;
  border-color: #fb792b;
  color: #fff;
}
.btn4 {
  height: 0.8rem;
  line-height: 0.8rem;
  width: 49.3%;
  background-color: #fff;
  border-color: #0f90ce;
  color: #0f90ce;
}
.btn5 {
  height: 0.8rem;
  line-height: 0.8rem;
  width: 49.2%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-right: 1px solid #e4e4e4;
  text-align: center;
  color: #333333;
}
.btn5:active {
  background-color: #e3e3e3;
}
.btn6,
.btn7 {
  height: 0.8rem;
  line-height: 0.8rem;
  width: 49.2%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 0;
  border-width: 0;
  color: #0f90ce;
  text-align: center;
}
.btn7 {
  width: 100%;
}
.btn6:active,
.btn7:active {
  background-color: #e3e3e3;
}
.btn8 {
  height: 0.8rem;
  line-height: 0.8rem;
  background-color: #fb792b;
  border-color: #fb792b;
  color: #fff;
  width: 100%;
}
.btn-disabled {
  height: 0.7rem;
  line-height: 0.7rem;
  width: 100%;
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.switch {
  font-size: 0.7rem;
  color: #666;
}
.switch.on {
  color: #0f90ce;
}
.list-detial .switch {
  position: absolute;
  top: 50%;
  margin-top: -0.35rem;
  right: 0.14rem;
}
/*
    name:表单列表
    date:2017-2-14
    author:wumj
*/
.form-list {
  margin: 0.14rem 0;
  background-color: #fff;
}
.form-list > li {
  height: auto;
  padding: 0.14rem 0.14rem 0.14rem 30%;
  position: relative;
  border-bottom: 1px solid #f5f5f5;
}
.form-list .list-name {
  position: absolute;
  left: 0.14rem;
  top: 50%;
  width: 30%;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: -0.25rem;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form-list .list-name em {
  color: #f00;
  padding-right: 0.04rem;
}
.form-list .list-detial {
  display: inline-block;
  width: 100%;
  min-height: 0.5rem;
  line-height: normal;
}
.form-list .list-detial .cbox {
  vertical-align: middle;
}
/*
    name:下拉框
    date:2017-2-14
    author:wumj
*/
.shade {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.dropValue {
  position: relative;
  display: block;
  height: 0.5rem;
  line-height: 0.5rem;
  color: #666666;
  width: 100%;
  padding-right: 0.4rem;
  padding-left: 0.08rem;
  box-sizing: border-box;
  z-index: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-detial .down-ico {
  position: absolute;
  top: 50%;
  margin-top: -0.18rem;
  right: 0.14rem;
  font-size: 0.26rem;
  z-index: 1;
}
.dropList {
  background-color: #fff;
  transition: all 0.3s;
  position: fixed;
  z-index: 4;
  left: 0;
  width: 100%;
  bottom: -100%;
  text-align: left;
}
.dropList-title {
  display: inline-block;
  padding: 0.14rem;
  color: #999999;
}
.dropList-detial {
  overflow-y: auto;
  max-height: 5.8rem;
  padding: 0 0.14rem;
}
.dropList-detial li {
  position: relative;
  height: 0.5rem;
  padding: 0.1rem 0;
  border-bottom: 1px solid #f5f5f5;
  color: 0.14rem;
}
.dropList-detial li .valueLi {
  position: relative;
  display: block;
  line-height: 0.5rem;
  padding-right: 0.4rem;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 2;
}
.dropList-detial li .rbx-ico {
  position: absolute;
  top: 50%;
  right: 0.14rem;
  font-size: 0.36rem;
  margin-top: -0.24rem;
  color: #b3b3b3;
  z-index: 1;
}
.dropList-detial .selected .rbx-ico {
  color: #0f90ce;
}
/*
    name:单选、复选样式
    note:将input隐藏，设置label标签的背景，替换成checkbox，实现自定义标签样式
    date:2017-2-14
    author:wumj
*/
.cbox {
  display: inline-block;
}
.cbox input {
  display: none;
}
.cbox label {
  position: relative;
  display: block;
  padding-left: 0.5rem;
}
.cbox label .cbox-ico {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.22rem;
  font-size: 0.4rem;
  color: #999999;
}
.cbox input:checked + label .cbox-ico {
  color: #0f90ce;
}
/*
    name:选择列表
    date:2017-2-27
    author:wumj
*/
.sel-list {
  padding-top: 0.14rem;
}
.sel-list > a {
  position: relative;
  display: block;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 0.14rem;
  background-color: #fff;
  color: #333333;
  border-bottom: 1px solid #e4e4e4;
}
.sel-list > a:active {
  background-color: #e3e3e3;
}
.sel-list > a:visited {
  color: #333333;
}
.sel-list .sel-list-ico {
  display: inline-block;
  margin-right: 0.14rem;
  font-size: 0.36rem;
}
.sel-list .next-ico {
  position: absolute;
  right: 0.14rem;
  top: 0;
  font-size: 0.24rem;
}
.sel-list h1 {
  height: 0.8rem;
  line-height: 0.8rem;
  color: #0f90ce;
  font-weight: normal;
  font-size: 0.3rem;
  padding: 0 0.14rem;
  background-color: #fff;
}
.sel-list h1 .iconfont {
  font-size: 0.32rem;
  padding-right: 0.14rem;
}
/* 
	name:内容弹窗样式
	date:2017-01-11
	author:wumj
*/
.pop-wrap {
  position: fixed;
  z-index: 5;
  display: none;
  border-radius: 4px;
  background-color: #fff;
}
.pop-content {
  padding: 0.2rem;
  text-align: left;
}
.pop-wrap .btn-wrap {
  padding: 0;
  border-top: 1px solid #e4e4e4;
}
.pop-wrap .btn-wrap .btn {
  margin-bottom: 0;
}
/* 
	name:登录页
	date:2017-03-02
	author:wumj
*/
.login-bg {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: 0;
  filter: url(blur.svg#blur);
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(14px);
  /* Chrome, Opera */
  -moz-filter: blur(14px);
  -ms-filter: blur(14px);
  filter: blur(14px);
}
.login-wrap {
  padding: 0.7rem;
  position: relative;
  z-index: 1;
}
.login-wrap .login-title {
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 0.3rem;
}
.login-form li {
  position: relative;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
  line-height: 0.5rem;
  vertical-align: middle;
}
.login-form li.code-ip {
  padding-right: 1.8rem;
}
.login-form li.user-ip,
.login-form li.psw-ip,
.login-form li.code-ip {
  padding-left: 0.6rem;
  border-bottom: 1px solid #333;
}
.sendcode-btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0.1rem;
  height: 0.5rem;
  line-height: 0.5rem;
  color: #fff;
  padding: 0 0.2rem;
}
.sendcode-btn.disabled {
  color: #ccc;
}
.login-form li .iconfont {
  position: absolute;
  left: 0;
  top: 0.1rem;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.4rem;
}
.login-form li input {
  color: #333;
  border-left-width: 0;
  background-color: transparent;
}
.login-form li input::-webkit-input-placeholder {
  color: #666;
}
.login-form li .btn8 {
  margin-top: 0.4rem;
}
.logenter-wrap {
  margin-top: 0.1rem;
}
.logenter-wrap a {
  color: #ccc;
}
.logenter-wrap a:first-child {
  float: left;
}
.logenter-wrap a:last-child {
  float: right;
}
.otherway-wrap {
  padding: 0.28rem 0.7rem;
  position: relative;
  z-index: 1;
  text-align: center;
}
.otherway-wrap div {
  position: relative;
}
.otherway-wrap div span {
  color: #ccc;
}
.otherway-wrap div:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  height: 1px;
  width: 30%;
  background-color: #aaa;
}
.otherway-wrap div:before {
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  height: 1px;
  width: 30%;
  background-color: #aaa;
}
.otherway-wrap a {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 0.4rem;
  margin-top: 0.2rem;
  color: #333;
}
/* 
	name:轮播图
	date:2017-06-16
	author:wumj
*/
.carousel-wrap {
  position: relative;
  width: 100%;
  height: 3rem;
  overflow: hidden;
}
.carousel-wrap .carousel-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.carousel-wrap .carousel-img li {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
}
.carousel-wrap .carousel-img li.current {
  opacity: 1;
}
.carousel-wrap .carousel-img li a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.carousel-wrap .carousel-img img {
  max-width: 100%;
}
.carousel-wrap .carousel-diot {
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.carousel-wrap .carousel-diot li {
  display: inline-block;
  width: 0.18rem;
  height: 0.18rem;
  border-radius: 50%;
  margin-left: 0.08rem;
  margin-right: 0.08rem;
  background-color: #000;
  opacity: 0.7;
}
.carousel-wrap .carousel-diot li.current {
  opacity: 1;
  background-color: #51bef2;
}
/* 
	name:一行搜索框
	date:2017-06-16
	author:wumj
*/
.search-wrap {
  position: relative;
  height: 0.7rem;
  margin: 0.14rem 0.14rem 0 0.14rem;
  padding-right: 0.84rem;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.search-wrap .btn1 {
  position: absolute;
  border-radius: 0;
  right: 0;
  top: 0;
  height: 0.7rem;
  line-height: 0.7rem;
  width: 0.84rem;
  text-align: center;
}
.search-wrap .txt {
  width: 100%;
  border-left-width: 0;
  height: 0.7rem;
  line-height: 0.7rem;
}
